<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>{{ folder }}</ion-title>

    <ion-buttons slot="primary">
      <ion-button *ngIf="!currentAccount" fill="solid" color="primary" (click)="connect()">
        <ion-icon name="flash-off-outline"></ion-icon>
        Connect
      </ion-button>

      <ion-button *ngIf="currentAccount" fill="solid" color="primary">
        <ion-icon name="flash-outline"></ion-icon>
        {{ currentAccount }}
      </ion-button>
      <ion-button *ngIf="currentAccount" fill="solid" color="secondary">
        <ion-icon name="wallet-outline"></ion-icon>
        {{ balance }}
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container"> -->
  <div>

    <ion-list>
      <ion-item *ngFor="let usr of users; let i = index">
        <ion-avatar slot="start" size="large" class="item-avatar" >
          <img [src]="usr.img" />
        </ion-avatar>
        <ion-label>
          <h2>{{ usr.address }}</h2>
          <h3>{{ usr.balance }}</h3>
          <p></p>
        </ion-label>
        <div style="display: flex;flex-direction: column;">
          <ion-button fill="solid" color="primary">
            <ion-icon name="car-outline"></ion-icon>
            Claim Rewards (Comming Soon)
          </ion-button>
        </div>
      </ion-item>

    </ion-list>
    


  </div>
</ion-content>
